{* This is the welcome page, you can delete it *}

{block content}
	<div id="content">
		<h1>Filmy</h1>
		<div><a n:href="Movie:create">Přidat nový film</a></div>
		{foreach $movies as $movie}
			<a n:href="Movie:detail $movie->id">
				<div class="movie">
					<div class="poster">
						<img src="{$movie->poster}" width="150" height="200" alt="poster {$movie->title}">
					</div>
					<div class="name"> {$movie->title} </div>
				</div>
			</a>
		{/foreach}
	</div>
{/block}



