{block content}
<h1>Nový film</h1>

<div class="dropdown">
    <label for="movie-search">Vyhledejte film z ČSFD:</label>
    <input type="text" id="movie-search" placeholder="Název filmu...">
    <div id="search-results" class="dropdown-content">
        <ul id="results">
        </ul>
    </div>
</div>


{control movieForm}